/* line 1, ../sass/jpreloader.scss */
body {
  display: none; }

/* line 5, ../sass/jpreloader.scss */
#jpreOverlay {
  background-color: #fff;
  padding: 0 !important;
  margin: 0 !important;
  top: 0 !important;
  position: absolute !important; }

/* line 13, ../sass/jpreloader.scss */
#jpreSlide {
  margin: 0 !important;
  top: 0 !important;
  padding: 0 !important;
  position: absolute;
  width: 100%;
  height: 100%; }

/* line 22, ../sass/jpreloader.scss */
#jSplash {
  margin: 0 !important;
  top: 0 !important;
  height: 999px !important;
  padding: 0 !important; }

/* line 30, ../sass/jpreloader.scss */
#jpreLoader {
  width: 100%;
  height: 2px; }

/* line 34, ../sass/jpreloader.scss */
#jpreBar {
  background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  -webkit-background-size: 30px 30px;
  -o-background-size: 30px 30px;
  background: #9a0f0f;
  animation: progress 2s linear infinite;
  -moz-animation: progress 2s linear infinite;
  -webkit-animation: progress 2s linear infinite;
  -ms-animation: progress 2s linear infinite;
  -o-animation: progress 2s linear infinite; }

/* line 49, ../sass/jpreloader.scss */
#jprePercentage {
  font-family: 'Source Sans Pro';
  font-size: 35px;
  color: #848484;
  text-align: center;
  margin: 20px 0 0 0;
  font-weight: 100; }

@-webkit-keyframes progress {
  /* line 61, ../sass/jpreloader.scss */
  from {
    background-position: 0 0; }

  /* line 64, ../sass/jpreloader.scss */
  to {
    background-position: -60px -60px; } }
@-moz-keyframes progress {
  /* line 69, ../sass/jpreloader.scss */
  from {
    background-position: 0 0; }

  /* line 72, ../sass/jpreloader.scss */
  to {
    background-position: -60px -60px; } }
@-ms-keyframes progress {
  /* line 77, ../sass/jpreloader.scss */
  from {
    background-position: 0 0; }

  /* line 80, ../sass/jpreloader.scss */
  to {
    background-position: -60px -60px; } }
@-o-keyframes progress {
  /* line 85, ../sass/jpreloader.scss */
  from {
    background-position: 0 0; }

  /* line 88, ../sass/jpreloader.scss */
  to {
    background-position: -60px -60px; } }
@keyframes progress {
  /* line 93, ../sass/jpreloader.scss */
  from {
    background-position: 0 0; }

  /* line 96, ../sass/jpreloader.scss */
  to {
    background-position: -60px -60px; } }
